/* ---------------------------------------------------------------- *\

    - navbar
    - navbar buttons
    

\* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- *\
    - navbar
\* ---------------------------------------------------------------- */

@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
    background-color: var(--quad-bg-color);
    font-family: nunito;
    font-weight: 700;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25); 
    
    padding: 0;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.9;
}




/* ---------------------------------------------------------------- *\
    - navbar buttons and navbar container
\* ---------------------------------------------------------------- */


.btn_container {
    display: flex;
    justify-content: flex-end;
    color: var(--classic-wh-bg-color);
    position: relative;
    top: 10px;
    font-size: 18px;

}

.about_btn {
    padding: 10px 50px;
    cursor: pointer;
	background : transparent;
	border : 0;
	position : relative;
}

.explore_btn {
    padding: 10px 50px;
    cursor: pointer;
	background : transparent;
	border : 0;
	position : relative;
}

.login_btn {
    padding: 10px 50px;
    cursor: pointer;
	background : transparent;
	border : 0;
	position : relative;
}

.create_btn {
    padding: 10px 50px;
    cursor: pointer;
	background : transparent;
	border : 0;
	position : relative;
    /* background-image: url("assets/images/hero-bg.png"); */

}


/* ---------------------------------------------------------------- *\
    - navbar profile menu
\* ---------------------------------------------------------------- */



.action .profile{
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 30px;
	margin: 5px 25px 0px 0px;

}
.action .profile img{
    width: 100%;
    top:0;
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100%;
}




.menu {
	display: block;
	position: absolute;
	top: 50px;
	right: 0;
	background-color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 200px;
	z-index: 2;
	border-radius: 10px;
	padding: 20px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s, opacity 0.5s;
  }
  
  .menu.active {
	visibility: visible;
  opacity: 1;
  }
  
.menu-container {
	display: flex;
	justify-content: flex-end;
	color: var(--classic-wh-bg-color);
	position: relative;
	top: 10px;
	font-size: 16px;
  }
  
  .menu-container .menu {
	display: block;
	position: absolute;
	top: 50px;
	right: 0;
	background-color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 200px;
	z-index: 2;
	border-radius: 10px;
	padding: 20px;}

	.menu h3 {
	  font-size: 20px;
	  margin-bottom: 20px;
  color: var(--classic-blk-bg-color);

	}
	
	.menu ul {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}
	
	.menu li {
	  margin-bottom: 10px;
	}
	
	.menu .icons-size {
	  font-size: 20px;
	  margin-right: 10px;
	  color: var(--quad-bg-color);
	}
	
	.menu a {
	  text-decoration: none;
	  color: var(--classic-blk-bg-color);
	}