.create_your_own {
    background-color: #FFBECE;
    background-image: url("../images/plaid-pattern-sundae.png");
    color: #333;
    padding: 400px;
}

.create_wrapper {
    background-color: #fff;
    color: #333;
    padding: 200px;
}