@tailwind base;
@tailwind components;
@tailwind utilities;

.create-container {
    background-color: #fff4fc;

}

.card{
    @apply max-w-sm rounded overflow-hidden shadow-lg h-96 w-96;
  }

.start-creating-container {
    padding : 250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    background-image: url("../images/introgami-desktop-image.png");
    background-repeat: no-repeat;
    object-fit : contain;
    background-position: -20px 0;
  }






.btn {
    @apply font-bold py-2 px-4 rounded;
  }

  .btn-pink {
    @apply bg-pink-500 text-white;
  }
  
  .btn-pink:hover {
    @apply bg-pink-700;
  }