/* global variables */

:root {
    --primary-bg-color: #E55D9B; /* dark pink */ 
    --secondary-bg-color: #fff4fc; /* light pink */ 
    --tertiary-bg-color: #ffeaf7; /* mid pink */
    --classic-wh-bg-color: #fffeff; /* white */
    --classic-blk-bg-color: #4F4350; /* black */
}