@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x : hidden;
    margin: 0;
    padding: 0;
}

:root {
    --primary-bg-color: #E55D9B; /* dark pink */ 
    
    --secondary-bg-color: #fff4fc; /* light pink */ 
    --tertiary-bg-color: #ffeaf7; /* mid pink */
    --quad-bg-color: #ed8fb8; /* dark mid pink */
    --classic-wh-bg-color: #fffeff; /* white */
    --classic-blk-bg-color: #4F4350; /* black */
}


.layout-section {
    border: 1px; 
    padding: 50px;
}


