

/* global variables */

body {
    overflow-x : hidden;
}

:root {
    --primary-bg-color: #E55D9B; /* dark pink */ 
    
    --secondary-bg-color: #fff4fc; /* light pink */ 
    --tertiary-bg-color: #ffeaf7; /* mid pink */
    --quad-bg-color: #ed8fb8; /* dark mid pink */
    --classic-wh-bg-color: #fffeff; /* white */
    --classic-blk-bg-color: #4F4350; /* black */
}


.layout-section {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    padding: 50px;
}


