@tailwind base;
@tailwind components;
@tailwind utilities;


.hero {
    display: grid;
    grid-template-columns: 1fr;
}

.hero-container {}

.intro-bg {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;

}

.hero-title {
    position: absolute;
    bottom: 350px;
    left: 700px;
}

.hero-description {
    position: absolute;
    bottom: 300px;
    left: 700px;
}
.intro-crane {

    position: absolute;
    top: 250px;
}
