

.hero-container {
    background-color:#ed8fb8;
    background-image: url("assets/images/hero-bg.png");
}

.hero {

    height:1024px;
    padding:0px;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:center;
    justify-content:center;
    position:relative;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); 
    
}

.hero-crane {
    background-image: url("assets/images/introgami-crane.png");
    background-repeat: no-repeat;
    background-position: left;
}

.hero-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 0px 0px 50px 500px;  /* top bot left right */
    color: #fff;

}

.hero-description {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    color: #fff;
    opacity: 0.8;
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 50px 500px;  /* top bot left right */
}