
body {
    padding: 0;
    margin: 0;
    font-weight: 500;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

a {
    text-decoration: none;
    color:  #f09cbc;
}

a:hover {
    text-decoration: underline;
}

.small {
    font-size: 80%;
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: column;
}



.login-img-wrapper, .login-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-img-wrapper {
    
    height: 200px;
    background-image: url("assets/images/plaid-pattern.png");
    background-size: cover;
    
}

.login-img-wrapper .copy {
    color: black; 
    text-align: center;
    -webkit-font-smooothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.login-img-wrapper p {
    font-weight: 400;
}

.login-info-wrapper .copy {
    color: black;
    text-align: center;
}

.login-info-wrapper .copy p {
    margin: 1.5em 0;
    font-size: 0.875rem;
}

.login-info-wrapper form {
    width: 328px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;

}

.input-container.password {
    position: relative;
}

.input-container.password i {
    position: absolute;
    top: 42px;
    right: 16px;
}

.checkbox-container input {

    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    user-select: none;
    margin: 0 0 1.25rem 0;
}

.checkbox-container input:checked~.checkmark {
    background-color:  #f09cbc;
    border: 1px solid  #f09cbc;

}

.checkmark {
    position: absolute;
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    top: -4px;
    left: 0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 5px;
    height: 10px;
    left: 8px;
    top: 4px;
    transform: rotate(45deg);
}

.signup-btn {
    display: block;
    width: 100%;
    background: #f09cbc;
    color: white;
    font-weight: 700;
    padding: 1 rem;
    border-radius: 8px;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.signup-btn:hover {
    background: #f5bad0;
    cursor: pointer;
}

@media screen and (min-width: 900px) {
    .login-container {
        flex-direction: row;
        height: 100vh;
    }
    .login-info-wrapper,
    .login-img-wrapper {
        display: flex;
        width: 50%;
        height: auto;
    }
}