@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 16px;
}

.accordion button {
  background-color: transparent;
  border: none;
  color: #333333;
  cursor: pointer;
  outline: none;
  padding: 16px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.accordion button:hover {
  background-color: #f5f5f5;
}

.accordion button:after {
  content: '\002B';
  color: #333333;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion.active button:after {
  content: "\2212";
}

.accordion-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.accordion.active .accordion-content {
  max-height: 500px; /* Adjust this value to control the height of the content */
}
