@tailwind base;
@tailwind components;
@tailwind utilities;

.trending {
    background-color: #fff4fc;

    color: #333;
    padding: 400px;
}

.trending_wrapper {
    list-style: none;
    display: grid;
    grid-template-columns:
        repeat(auto-fit,minmax(15rem,1fr))
    ;
    grid-gap: 6rem;
}