.trending {
    background-color: #fff4fc;

    color: #333;
    padding: 400px;
}

.trending_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap | wrap | wrap-reverse;
    justify-content:center;
    gap: 20px;
}