.trending {
    background-color: #FFF8E8;
    background-image: url("../images/plaid-pattern.png");

    color: #333;
    padding: 400px;
}

.trending_wrapper {
    background-color: #fff;
    color: #333;
    padding: 200px;
}